<header class="main-header">
    <img src="assets/icons/aeroplano.png" alt="plane logo">
    <nav class="main-nav">
        <ul class="links mb-0">
            <li class="links-items" routerLinkActive="active-link">
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li class="links-items" routerLinkActive="active-link">
                <a [routerLink]="['/destino-detail']">Destino</a>
            </li>
            <li class="links-items" routerLinkActive="active-link">
                <a [routerLink]="['/about']">Nosotros</a>
            </li>
        </ul>
    </nav>
</header>