<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4> {{destino.nombre}} </h4></span>
    </div>
    <div class="card-desc">
        <h3> {{destino.nombre}} </h3>
        <p class="mt-2">Servicios</p>
        <ul class="text-left">
            <li *ngFor="let service of destino.servicios">
                <span [ngSwitch]="service"> 
                    <i *ngSwitchCase="'Desayuno'"  style="color: #1abc9c;"> {{service}} </i>
                    <i *ngSwitchDefault> {{service}} </i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="Ir()">Ir!</a>
        <span class="badge badge-success" *ngIf="destino.isSelected()">PREFERIDO</span>
    </div>
</div>